          <% content_tag(:tr, :class => 'option', :id => template ? 'option_template' : nil) do %>
            <% style = table_row_div_style(template) -%>
            <td class="column"><%= content_tag(:div, link_to('delete', '#', :onclick => 'deleteFormOption($(this)); return false;'), :style => style) %></td>
            <td class="column"><%= content_tag(:div, text_field_tag('check_box_custom_form_element[options][][label]', option[:label], :style => 'width: 100px;'), :style => style) %></td>
            <td class="column"><%= content_tag(:div, text_field_tag('check_box_custom_form_element[options][][value]', option[:value], :style => 'width: 80px;'), :style => style) %></td>
            <td class="column"><%= content_tag(:div, check_box_tag('check_box_custom_form_element[options][][checked]', '1', option[:checked], :style => 'width: 80px;') + '&nbsp;checked?', :style => style) %></td>
          <% end %>