<div class="field_container">
  <% element.load_element -%>
    <div class="fieldLabel">
        <label for="custom_form_<%= string_to_html_name(element.name) %>"><%=h element.label %></label>
    </div>
    <div class="fieldContent">
      <%= select_tag(
        "custom_form[#{string_to_html_name(element.name)}]",
        options_for_select([['-- select --', '']] + element.options_array),
        :disabled => !!element.disabled
      ) %>
    </div>
</div>