<div class="field_container">
  <% element.load_element -%>
    <div class="fieldLabel">
        <label for="fieldLabel">&nbsp;</label>
    </div>
    <div class="fieldContent">
        <%
          name = element.html_attribute_name
          name = element.label if name.blank?
        -%>
        <%= submit_tag(h(element.label), :name => "custom_form[#{string_to_html_name(name)}]", :class => element.classes) %>
    </div>
    <div class="spacer"></div>
</div>
