  <div class="manage">
    <% unless element.new_record? -%>
      <%= link_to('edit', edit_cms_custom_form_custom_form_element_path(:custom_form_id => @block.id, :id => element.id)) %> |
    <% end -%>
    <%= link_to('delete', {:anchor => ''}, :onclick => 'deleteFormElement($(this)); return false;', :class => 'delete_link', :confirm => "Are you sure you want to delete this element?  The element will not be deleted permanently until you click 'Save'") %>
  </div>
