<% if @custom_form -%>
  <p>Form submitted successfully.</p>
  <p>Your details have been sent to the administrators.</p>
<% else -%>
  <p>Something went wrong while submitting your form.  Please try again later.</p>
<% end -%>